<% include  partials/header %>

<div>

	<p> Te dhenat jane ketu: </p>
	


	<% for(var i=0; i < projects.length; i++) { %>
   	<ul>
     <li><%= projects[i].id %></td>
     <li><%= projects[i].name %></td>
   	</ul>
	<% } %>

	<% for(var i=0; i < exp.length; i++) { 
		for (var j=0; )
	
									{ %>
	}


</div>


<% include  partials/footer %>